@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: montserrat;
	font-size: 0.9rem;
}

h1 {
	text-align: center;
	font-size: 1.5rem;
	margin: 0.5rem 0 1rem;
}

h2{
	text-align: center;
	font-size: 1.2rem;
	margin: 1rem 0 0;
}

h3{
	text-align: center;
	font-size: 1rem;
	margin: 0.5rem 0 1rem;
}

.header {
	background-color: #283142;
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: center;
	padding: 1rem;
}

.header ul {
	list-style-type: none;
	display: flex;
}

.header ul li {
	margin: 0 1rem;
}

.header ul li a {
	text-decoration: none;
	color: white;
	transition: all 300ms ease-in-out 25ms;
}

.header ul li a:hover {
	color: #058DFE;
	transform: translateY(-10px);
}

.form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 1.2rem auto 0;
}

.form input, select {
	margin: 0.7rem 0;
	border-radius: 0.2rem;
	height: 2rem;
	padding: 0 0.2rem;
}

table, th, td {
	border: 1px solid black;
	padding: 0.4rem;
}

table {
	margin: 2rem auto 0;
	background: white;
}

th {
	background: #058DFE;
	color: white;
}

td {
	background: white;
	color: black;
}

.logo {
	width: 10%;
}

.reservations {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
	color: white;
}

.logout {
	background-color: red;
	border-radius: 0.6em;
	padding: 0.5em 0.7em;
}

.login {
	background-color: green;
	border-radius: 0.6rem;
	border: none;
	color: white;
	cursor: pointer;
}

.enable {
	background-color: green;
	border-radius: 0.6em;
	padding: 0.3em 0.5em;
	font-size: 0.8rem;
}

.disable {
	background-color: red;
	border-radius: 0.6em;
	padding: 0.3em 0.5em;
	font-size: 0.8rem;
}

.index {
	background-image: url("school.jpg");
}

.loginSection {
	background-color: white;
	width: 25%;
	margin: 2rem auto;
	padding: 1.5rem 0;
	text-align: center;
}

.register {
	background-color: #058DFE;
	border-radius: 0.2rem;
	border: none;
	color: white;
	padding: 0.8em 0;
	margin: 0.7rem 0;
}

footer {
	width: 100%;
	height: 5rem;
	background-color: #26282B;
	margin-top: 2rem;
	padding: 2rem 0;
	text-align: center;
	opacity: 0.9;
}

.you {
	font-weight: bold;
	font-size: 1.1rem;
}

.code {
	font-weight: bold;
	color: #058DFE;
	font-size: 1.1rem;
}

.youcode {
	color: white;
	font-weight: 200;
	font-size: 1.1rem;
}

.admin{
	background-image: url("students.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

.limitForm{
	display: flex;
	flex-direction: column;
	width: 40%;
	padding: 0 0.6rem;
	background-color: white;
}

.limitForm input{
	margin: 0.7rem 0;
	padding: 0.3rem;
}

.reservationLimit{
	width: 50%;
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 0 auto;
}

.limiter{
	background-color: #058DFE;
	color: white;
	font-weight: 400;
	border: none;
	border-radius: 0.2rem;
	cursor: pointer;
}

.annuler{
	background-color: red;
	color: white;
	font-weight: 400;
	border: none;
	border-radius: 0.2rem;
	cursor: pointer;
}

.makeRes{
	text-align: center;
}

.resChoices{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 22%;
}